.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: .1rem;
        padding: 1.5rem 4rem;
        display: inline-block;
        
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default_font_size;

        // Button element change
        border: none;
        
    }
    
    &:hover {
        transform: translateY(-.3rem);
        /* shadow */
        box-shadow: 0 1rem 2rem rgba($color_black, .2);

        &::after {
            transform: scale(1.5);
            opacity: 0;
        }
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: 0 5rem 10rem rgba($color_black, .2);;
    }
    
    &__white {
        background-color: $color_white;
        color: $color_grey_dark;

        &::after {
            background-color: $color_white;
        }
    }

    &__green {
        background-color: $color_primary_dark;
        color: $color_white;

        &::after {
            background-color: $color_primary_dark;
        }
    }

    &__orange {
        background-color: $color_invalid;
        color: $color_white;
        font-family: inherit;
        font-size: 1.8rem;

        &::after {
            background-color: $color_invalid;
        }
    }
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1; /* defines the position */
        transition: all .5s;
    }
    
    &__animated {
        animation: moveInBottom 2.5s ease-out;
        animation-fill-mode: backwards;
    }
}

.btn_text {
    &:link,
    &:visited {
        font-size: $default_font_size;
        color: $color_primary_dark;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color_primary_dark;
        padding: 3px;
        transition: all .2s;
        border-radius: 1.5rem;
    }

    &:hover {
        background-color: $color_primary_dark;
        color: $color_white;
        box-shadow: 0 1rem 2rem rgba($color_black, .2);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color_black, .2);
        transform: translateY(0);
    }
}

.btn_story {
    &:link,
    &:visited {
        font-size: $default_font_size;
        color: $color_section_stories_heading_dark;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color_section_stories_heading_dark;
        padding: 3px;
        transition: all .2s;
        border-radius: 3px;
    }

    &:hover {
        background-color: $color_section_stories_heading_dark;
        color: $color_white;
        box-shadow: 0 1rem 2rem rgba($color_black, .2);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color_black, .2);
        transform: translateY(0);
    }
}