.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color_black, .8);
    z-index: 5000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &__content {
        @include absCenter;

        width: 75%;
        //height: 50rem;
        background-color: $color_white;
        box-shadow: 0 2rem 4rem rgba($color_black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.5);
        transition: all .9s .2s;
    }

    &__left {
        width: 33.333333%;
        display: table-cell;
    }

    &__right {
        width: 66.666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__image{
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.8rem;
        margin-bottom: 4rem;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color_grey_light_2;

        // -moz-hyphens: auto;
        // -ms-hyphens: auto;
        // -webkit-hyphens: auto;
        // hyphens: auto;
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        &:link,
        &:visited {
            color: $color_grey_dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 4rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }

        &:hover {
            color: $color_invalid;
        }
    }
}