.composition {
    position: relative ;
    &__photo {
        width: 68%;
        box-shadow: 0 1.5rem 4rem rgba($color_black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        outline-offset: 2rem;

        &__p1 {
            left: 64%;
            top: -7.5rem;
        }

        &__p2 {
            right: -4%;
            top: 4.5rem;
        }

        &__p3 {
            left: 8%;
            top: 17rem;
        }

        &:hover {
            outline: 1.5rem solid $color_primary_dark;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color_black, .5);
            z-index: 20;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.7);
    }
}