.footer {
    background-color: $color_grey_dark_3;
    padding: 9rem 0;
    font-size: 2.5rem;
    color: $color_grey_light_1;

    &__logo_box {
        text-align: center;
        margin-bottom: 8rem;
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__navigation {
        border-top: 1px solid $color_grey_dark;
        padding: 2rem;
        display: inline-block;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color_grey_light_1;
            background-color: $color_grey_dark_3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $color_invalid;
            box-shadow: 0 1rem 2rem rgba($color_black, .5);
            transform: rotate(7deg) scale(1.5);
        }
    }

    &__copyright {
        border-top: 1px solid $color_grey_dark;
        padding: 2rem;
        width: 80%;
        float: right;
    }
}