// Colors
$color_primary: #50d39ca2;
$color_primary_dark: #50d39ce8;
$color_primary_light: #bcd87ac2;
$heading_primary_color: rgb(212, 50, 90);

$color_section_menu_heading_light: #FFD194;
$color_section_menu_heading_dark: #D1913C;


$color_secondary_light: #24C6DC;
$color_secondary_dark: #514A9D; 

$color_tartiary_light: #d04ed6;
$color_tartiary_dark: #834d9b;

$color_quaternary_light: #4ECDC4;
$color_quaternary_dark: #556270;

$color_grey_light_1: #f7f7f7;
$color_grey_light_2: #eee;

$color_grey_dark: #777777;
$color_white: #ffffff;
$color_black: #0000;

// Font Sizes
$default_font_size: 2rem;


// Grid
$grid_width: 114rem;
$gutter_vertical: 8rem;
$gutter_horizontal: 6rem;