body {
    background: $color_background_main;
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
}

.heading_primary {
    color: $color_off_white;
    margin-bottom: 6rem;
    //@include neumorphismText;

    &__main {
        text-decoration: none;
        font-size: 13rem;
        font-family: 'Lobster', cursive;
        font-weight: 400;
        @include neumorphismText;
        color: $color_background_main;

        &:hover {
            cursor: pointer;
            color: $color_nav_hover;
            text-shadow: 0 0 1.4rem $color_nav_hover;
        }
    }

    &__sub {
        text-decoration: none;
        display: inline-block;
        font-size: 4rem;
        font-weight: 800;
    }

    &__feature {
        color: $color_background_main;
        text-decoration: none;
        font-size: 8rem;
        font-weight: 800;
        right: 0;
        @include neumorphismText;

        &:hover {
            cursor: pointer;
            color: $color_nav_hover;
            text-shadow: 0 0 1.4rem $color_nav_hover;
        }
    }
}

